body{
  background-color: pink;
}
h2{
  text-align: center;
  font-family: fantasy;
  font-weight: lighter;
  font-size: 50px;
}
img{
  width: 500px;
  height: 500px;
}
footer img{
  width: 20px;
  height: 20px;
}
footer{
  background-color: grey;
}
#Firstcolumn{
  display: block;
  position: relative;
  left:900px;
  display: inline-flex;
}

#Secondcolumn{
  display: block;
  position: relative;
  bottom: 1850px;
}
li{
  padding: 200px;
}
